*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
/*---------- parte JUAN  ------ */
#cabecalho {
    padding: 1.5em;
    text-align: center;
    font-size: 35px;
    color: black;
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-family:Cambria, Georgia, serif;
    height: 8vh;

}
.links a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    display: inline-block;
    padding: 2px;
    
}

a:hover{
    opacity: 0.7;
    color: #407094;
}

.img-logo{
    color: #407094;
    width: 13%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}


/*---------- parte  UENDEL ------ */
#conteudo {
    background-color: #407094;
    color: aliceblue;
    height: 100%;
}
.formulario{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
}
.lado1{
    width: 500px;
    height: 700px;
    float: left;
    margin-left: 150px;
    text-align: center;
    
}
.lado1 p {
    padding-top: 2rem;
}
.lado1 img {
    border-radius: 120px;
    margin-top: 30px;
}
.lado2{
    float: right;
    width: 500px;
    height: 700px;
    margin-right: 150px;
    background-color: #232628;
    border-radius: 20px;
    text-align: center;
    
}
.cabecalho h2 {
    padding-top: 15px;
    color: #a1998a;
    
}
.cabecalho p {
    padding-top: 10px;
    color: #a1998a;
   
}

.botao-enviar input{
    border-radius: 10px;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    background-color: #cc7a00;
    font-size: 30px;
    cursor: pointer;
}

.nome{
    display: block; 
    padding-top: 40px;
}
.email,
.cidade{
    display: block; 
    padding-top: 20px;
}
.sim,
.nao{
    padding-right: 390px; 
    padding-top: 20px;
}
select{
    width: 90%; 
    height: 36px; 
    border-radius: 5px;
}
/*---------- parte  THIAGO ------ */
#rodape {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 5%;
    width: 100%;
    color: black;
    text-align: center;
}
.inputs{
    width: 90%; 
    height: 36px; 
    border-radius: 5px;
}

.labels{
    margin-right: 395px
}




/* ------ Deixar página responsivo ---- */
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }

  }