*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
/*---------- parte JUAN  ------ */
#cabecalho {
    padding: 1.5em;
    text-align: center;
    font-size: 35px;
    color: black;
}
.links a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
}
/*---------- parte  UENDEL ------ */
#conteudo {
    background-color: #407094;
    color: aliceblue;
    height: 1000px;
    
}
.formulario{
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
}
.lado1{
    width: 500px;
    height: 700px;
    float: left;
    margin-left: 150px;
    text-align: center;

}
.lado2{
    float: right;
    width: 500px;
    height: 700px;
    margin-right: 150px;
    background-color: #232628;
    border-radius: 20px;
    text-align: center;
    
}
.cabecalho h2 {
    padding-top: 15px;
    color: #a1998a;
    
}
.cabecalho p {
    padding-top: 10px;
    color: #a1998a;
   
}

.botao-enviar input{
    border-radius: 10px;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    background-color: #cc7a00;
    font-size: 30px;
    cursor: pointer;
}

/*---------- parte  THIAGO ------ */
#rodape {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 5%;
    width: 100%;
    color: black;
    text-align: center;
}




/* ------ Deixar página responsivo ---- */
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }